<!DOCTYPE html>

<html>
    <head>
        <title>RateThis - {% block title %} :) {% endblock %}</title>
    </head>

    <body>
    	<div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/accounts/logout/">Logout</a></li>
            {% else %}
                <li><a href="/accounts/register/">Register Here</a></li>
                <li><a href="/accounts/login/">Login</a></li>
            {% endif %}
            </ul>
        </div>

		<hr />

        <div>
            {% block body_block %}{% endblock %}
        </div>   
    </body>
</html>