Django==1.8.1
django-bootstrap-form==3.2
django-bootstrap3==5.4.0
django-crispy-forms==1.4.0
django-filebrowser==3.5.7
django-forms-bootstrap==3.0.1
django-grappelli==2.5.7
django-registration-redux==1.1
easy-thumbnails==2.2
flake8==2.4.0
gunicorn==19.3.0
matplotlib==1.4.0
mccabe==0.3
mysql-connector-python==2.0.3
numpy==1.9.0
pep8==1.5.7
Pillow==2.8.1
pyflakes==0.8.1
PyMySQL==0.6.6
pyparsing==2.0.2
python-dateutil==2.2
six==1.8.0
sorl-thumbnail==12.2
virtualenv==12.1.1
