{% extends "rate_this/base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block body_block %}
{% load bootstrap %}

<h1>{{post.title}}</h1>
<hr>
<img src="/media/{{post.image}}"class="img-responsive img-rounded">
<hr>
<div class="row">
<div class="col-md-8">
	<p>{{post.description}}</p>
</div>
<div class="col-md-4">
	<p>Upvotes : {{post.upvotes}} <button class="btn btn-primary btn pull-right">Upvote!</button></p>
</div>
</div>
<hr>

{% for comment in comments %}
<div class="row">
	{% if comment.user == request.user %}
		<div class="panel panel-info col-md-offset-4 col-md-8">
	{% else %}
		<div class="panel panel-info col-md-8">
	{% endif %}	
		<div class="panel-heading">
			<h1 class="panel-title">{{comment.user.username}}</h1>
		</div>
		<div class="panel-body">
		{{comment.text}}
		</div>	
	</div>
</div>
{% endfor %}

<div class="row">
	<div class="col-md-offset-4 col-md-8">
		<form enctype="multipart/form-data" class="form-horizontal" method="post" action="/post/{{post.id}}/">
			{% csrf_token %}
			{{ comment_form|bootstrap_horizontal:'col-lg-4' }}
			<button type="submit" class="btn btn-primary pull-right">Comment</button>
		</form>
	</div>
</div>

{% endblock %}